{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
<div class="container py-5">
    <a href="{% url 'student_list' %}" class="btn btn-secondary mb-3">Back</a>

    <div class="card shadow-sm">
        <div class="card-header text-center bg-white">
            <h3 class="mt-2">Edit Student</h3>
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <label>Name</label>
                <input type="text" name="name" class="form-control mb-3"
                       value="{{ student.name }}" required>

                <label>Email</label>
                <input type="email" name="email" class="form-control mb-3"
                       value="{{ student.email }}" required>

                <label>Gender</label>
                <select name="gender" class="form-select mb-3" required>
                    <option value="Male" {% if student.gender == "Male" %}selected{% endif %}>Male</option>
                    <option value="Female" {% if student.gender == "Female" %}selected{% endif %}>Female</option>
                    <option value="Other" {% if student.gender == "Other" %}selected{% endif %}>Other</option>
                </select>

                <label>Phone</label>
                <input type="text" name="phone" class="form-control mb-3"
                       value="{{ student.phone }}" required>

                <button class="btn btn-primary float-end">Update</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
